<form [formGroup]="profileForm">
  <app-ui-input
    [form]="profileForm"
    [formControlNameAccesor]="'name'"
    [iconClass]="'bi bi-person'"></app-ui-input>
    <app-ui-input
    [form]="profileForm"
    [formControlNameAccesor]="'email'"
    [iconClass]="'bi bi-envelope'"></app-ui-input>
    <app-ui-input
    [form]="profileForm"
    [formControlNameAccesor]="'address'"
    [iconClass]="'bi bi-signpost-split'"></app-ui-input>
  <p-button
    class="flex justify-content-center"
    label="Update"
    icon="bi bi-save"
    iconPos="right"
    (onClick)="updateProfile()"
    ></p-button>
  <p-button
    class="flex justify-content-center"
    label="Logout"
    icon="bi bi-box-arrow-right"
    iconPos="right"
    (onClick)="logout()"
    ></p-button>
</form>