<p-card
  styleClass="mt-5 mx-3 w-15rem cursor-pointer overflow-hidden "
  (click)="updateQuote(quote)">
  <ng-template
    pTemplate="title"
    styleClass=" flex flex-wrap align-items-center ">
    <div>
      <p class="h-5rem mb-7 text-overflow-ellipsis">
        <q class="text-sm">
          {{ quote.quote }}
        </q>
      </p>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <p class="flex justify-content-end font-italic font-bold">
      {{ quote.author }}
    </p>
    <p class="flex justify-content-end font-bold">
      {{ quote.year }}
    </p>
  </ng-template>
</p-card>
